.jumbotron {
    background-image: url(library.png);
    font-family: 'Courier New', Courier, monospace;

}

h1 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}