nav {
    background-color: black;
}

a {
    text-decoration: none;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    text-decoration: underline;
    color: lightblue;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}